{
  "presets": [
    "es2015-webpack",
    "react",
    "stage-0"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "production": {
      "only": ["app"]
    },
    "development": {
      "presets": ["react-hmre"]
    }
  }
}
